/* shared */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.common-text {
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.btn-primary {
    padding: 21px 40px;
    background-color: #FF42A5;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
}

/* Header styles */
/* Nav styles */
.navdiv {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* border: 2px solid blue; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin: 0 auto;
    /* border: 2px solid yellow; */
}

nav .nav-content {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

.nav-img {
    width: 86px;
    height: 40px;

}

.nav-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.nav-title span {
    color: #FF42A5;
}

.follow-box-container {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 16px 18px 24px;
    display: flex;
    align-items: center;
}

.fa-brands {
    font-size: 2rem;
}

.fa-youtube {
    margin-left: 24px;
    color: red;
}

.fa-tiktok {
    margin-left: 16px;
    color: black;
}

/* banner styles */
.banner-container {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.banner-title1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.banner-title2 {

    margin: 0px;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
}

.banner-text {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-go {
    background-color: #4EC5F7;
    margin-left: 24px;
}

.banner-container img {
    width: 45%;
}

/* gamer */
.gamer {
    margin-top: 40px;
    display: flex;
    padding: 0 50px;
}

.gamer-content {
    text-align: right;
}

.gamer-content h3 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.gamer-content h4 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer-content h4 span {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* online games */
/* .special-img:hover {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5), inset -6px -6px 10px 0 rgba(0, 0, 0, 0.5);
    content: 'Watch Now';
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
} */
.hover-help {
    position: relative;
}

.hover-content {
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.hover-content:hover {
    opacity: 1;
}

.hover-content .icon {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0px;
}

.hover-content .icon-description {
    color: #FF42A5;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

.online-img-section img {
    width: 300px;
    height: 350px;
    margin: auto;
    display: block;
}


.online-game {
    padding: 0 200px;
}

.online-title {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.online-title span {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.online-description {
    text-align: center;
    margin-bottom: 48px;
}

.online-img-section {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}



.img-container p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

/* play section */
.play-container {
    display: flex;
    align-items: center;
}

.play {
    margin-left: 170px;
    margin-right: 120px;
}

.play-content {

    text-align: right;
    margin-right: 250px;
}

.play-content-title span {
    color: #F948B2;
}

.play-content-description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

.play-content-title {
    font-size: 3rem;
    font-weight: 700;
}

.play-img-container {
    position: relative;
}

.horse-img {
    width: 550px;
}

.cat-img {
    width: 250px;
    position: absolute;
    top: 320px;
    right: 430px;
}

/* button section */
.grid-btn {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 190px;
    padding-right: 100px;
    gap: 10px;
}

.special {
    width: max-content;
    height: 50px;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 5px;
    margin-right: 6px;
    gap: 25px;
}

.special img {
    padding-left: 5px;
    width: 40px;
    margin-right: 6px;
}

.special span {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

.btn6 {
    margin-left: 60px;
}

.special:hover {
    border: 1px solid #FF42A5;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */
footer {
    background-color: #0B0223;
    margin-top: 70px;
}

.div1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
    color: white;
}

.foot-title span {
    color: #FF42A5;
}

.div2 {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.div2 p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.div3 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.div3 .fa-brands {
    color: white;
}

.div4 {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.div4 p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

footer .last {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 40px;
}



/* Responsive Styles */

/* Mobile Devices */



@media screen and (max-width: 576px) {
    * {
        font-size: 8px;
    }

    /* nav section */
    .hide {
        display: none;
    }

    .nav-img {
        width: 30px;
        height: 20px;
    }

    .navdiv {
        width: auto;
        box-shadow: none;
        align-items: center;
    }

    .nav-title span {
        font-size: 2.8rem;
    }

    nav {
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
    }

    nav ul {
        margin-top: 0px;
        flex-direction: column;
        text-align: center;
    }


    /* banner section */
    .banner-container {
        margin-top: 30px;
        flex-direction: column-reverse;
        padding: 0 40px;
    }

    .banner-container img {
        width: 100%;
    }

    .banner-content {
        text-align: center;
        background-image: url('../images/Group\ 14.png');
    }

    .banner-text {
        text-align: left;
        padding-left: 5px;
    }

    .btn-primary {
        margin-top: 10px;
        padding: 10px 15px;
        border: none;
    }

    .btn-sign {
        padding: 10px 20px;
        margin-right: 0px;
    }

    /* gamer */
    .gamer {
        flex-direction: column;
        padding: 0px;
    }

    .gamer img {
        width: 70vw;
    }

    .gamer-content {
        text-align: center;
    }

    /* online games */
    .online-img-section {
        flex-direction: column;
        align-items: center;
    }

    .online-game {
        padding: 0 20px;
    }

    .online-title span {
        font-size: 3rem;
    }

    /* Play  */
    .play {
        margin: 0 20px;
    }

    .play-content {
        text-align: center;
        margin-left: 230px;

    }

    .play-container {
        flex-direction: column;
    }

    .play-content-title span {
        font-size: 3rem;
    }

    .play-img-container {
        position: relative;
    }

    .horse-img {
        width: 50vw;
    }

    .cat-img {
        width: 125px;
        position: absolute;
        top: 120px;
        right: 140px;
    }

    /* btn */
    .grid-btn {
        padding: 0px;
        gap: 0px;
    }

    .special {
        gap: 8px;
    }

    .special img {
        margin: 0px;
        padding-right: 0px;
    }

    .special span {
        margin-left: 0px;
        padding-left: 0px;
    }

    .btn6 {
        margin-left: 0px;
    }


    /* footer */
    .div1 .foot-title span {
        font-size: 3rem;
    }

    .div2 {
        display: grid;
        grid-template-columns: repeat(3, 50px);
        gap: 5px;
    }

    .div3 {
        display: grid;
        grid-template-columns: repeat(3, 50px);
        gap: 7px;
    }

    .div4 {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 7px;
    }

}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    * {
        font-size: 12px;
    }

    /* nav */
    .navdiv {
        box-shadow: none;
    }

    nav {
        padding: 0 20px;
    }

    .nav-title span {
        font-size: 2.8rem;
    }

    /* banner */
    .banner-container {
        flex-direction: column-reverse;
        padding: 0 30px;
    }

    .banner-content {
        margin: 0 auto;
    }

    .btn-primary {
        margin-top: 10px;
        padding: 15px 20px;
        border: none;
    }

    /* gamer */
    .gamer {
        flex-direction: column;
        padding: 0px;
    }

    .gamer img {
        width: 90vw;
    }

    .gamer-content {
        text-align: center;
    }

    /* online games */
    .online-game {
        padding: 0 20px;
    }

    .online-img-section {
        flex-direction: column;
        align-items: center;
    }

    .online-title span {
        font-size: 3rem;
    }

    /* play */
    .play-content {
        text-align: center;
        margin-left: 230px;

    }

    .play-container {
        flex-direction: column;
    }

    .horse-img {
        width: 50vw;
    }

    .cat-img {
        width: 225px;
        position: absolute;
        top: 230px;
        right: 280px;
    }

    /* btn */
    .grid-btn {
        margin-top: 140px;
        padding: 0px;
        gap: 5px;
    }

    .special img {
        margin-right: 0px;
        padding-right: 0px;
    }

    .special span {
        padding-left: 0px;
        margin-left: 0px;
    }

    .btn6 {
        margin-left: 0px;
    }

    .btn9 {
        margin: 0 auto;
    }

    /* footer */
    .div1 .foot-title span {
        font-size: 3rem;
    }

    .div2 {
        display: grid;
        grid-template-columns: repeat(3, 50px);
        gap: 5px;
    }

    .div3 {
        display: grid;
        grid-template-columns: repeat(3, 50px);
        gap: 7px;
    }

    .div4 {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 7px;
    }

}